<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <div class="info-section">
          <ion-card class="info-item">
            <p class="info-value">{{selectedArticle?.poids}} g</p>
            <p class="info-label">Poids</p>
          </ion-card>
          <ion-card class="info-item">
            <p class="info-value">{{selectedArticle?.taille}} cm</p>
            <p class="info-label">Tailles</p>
          </ion-card>
        </div>

        <div class="image-section" *ngIf="dateSelectionnee">
          <div class="image">
            <img [src]="selectedArticle?.images">
          </div>
        </div>

        <div class="image-section" *ngIf="!dateSelectionnee">
          <div class="image">
              <div class="text">
                <h2 for="startDate"> Choisissez votre date de debut de grossesse</h2>
                <input type="date" id="startDate" [(ngModel)]="startDate" (change)="onDateSelected()"  />
              </div>
          </div>
        </div>



        <div class="weeks-section">
          <div *ngFor="let week of weeks;">
            <div class="week-item">
              <button #weekButton [ngClass]="{
                'past-week': week < currentWeek, 
                'current-week': week === currentWeek, 
                'future-week': week > currentWeek, 
                'selected': selectedWeek === week}" 
                (click)="selectWeek(week)">
                {{week}}
              </button>
              semaine
            </div>
          </div>
        </div>

        <div style="margin-top: -40px;">
          <div class="couleur">
            <div class="one">
              <h5 style="display: block; font-weight: 100; margin-bottom: 8px; line-height: 20px; font-size: 16px; letter-spacing: 0px;">
                Date de début {{startDate}}
              </h5>
              <p style="display: block; font-weight: 100; margin-bottom: 8px; line-height: 20px; font-size: 16px; letter-spacing: 0px;">
                {{selectedArticle?.trimestre}} trimestre
              </p>
            </div>

            <ion-progress-bar color="light" [value]="progress"></ion-progress-bar>

            <div class="two">
              <h5 style="display: block; font-weight: 100; margin-bottom: 8px; line-height: 20px; font-size: 16px; letter-spacing: 0px;">
                Date de l'accouchement prévue le {{endDate}}
              </h5>
            </div>

            <h1 class="two" style="padding: 7px; font-weight: 100; margin: 20px -80px 20px -80px;">Le bebe</h1>
            <p class="two" style="padding: 7px; font-weight: 100;">
              {{selectedArticle?.envent}}.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>