<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <div class="info-section">
          <ion-card class="info-item">
            <p class="info-value">{{selectedArticle?.poids}} g</p>
            <p class="info-label">Poids</p>
          </ion-card>
          <ion-card class="info-item">
            <p class="info-value">{{selectedArticle?.taille}} cm</p>
            <p class="info-label">Tailles</p>
          </ion-card>
        </div>

        <div class="image-section" *ngIf="dateSelectionnee">
          <div class="image">
            <img [src]="selectedArticle?.images">
          </div>
        </div>

        <div class="image-section" *ngIf="!dateSelectionnee">
          <div class="image">
              <div class="text">
                <h2 for="startDate"> Choisissez votre date de debut de grossesse</h2>
                <input type="date" id="startDate" [(ngModel)]="startDate" (change)="onDateSelected()"  />
              </div>
          </div>
        </div>



        <div class="weeks-section">
          <div *ngFor="let week of weeks">
            <div class="week-item">
              <button 
                #weekButton 
                [ngClass]="{
                  'past-week': week < currentWeek, 
                  'current-week': week === currentWeek, 
                  'future-week': week > currentWeek, 
                  'selected': selectedArticle?.semaine === week.toString()
                }" 
                (click)="selectArticleByWeek(week)"
              >
                {{ week }}
              </button>
              semaine
            </div>
          </div>
        </div>
        
        

        <div>
          <div class="couleur">
            <div class="one">
              <h5 style="color: black; font-weight: 50  margin-bottom: 8px;">
                Date de début {{startDate}}
              </h5>
              <h5 style="color: black; font-weight: 50  margin-bottom: 8px;">
                {{selectedArticle?.trimestre}} trimestre
              </h5>
            </div>

            <ion-progress-bar color="dark" [value]="progress"></ion-progress-bar>

            <div >
              <h5 style="color: black; font-weight: 50  margin-bottom: 8px;">
                Date de l'accouchement prévue le {{endDate}}
              </h5>
            </div>

                <div style="margin-top: 30px;">
                  <h1 style="text-wrap: nowrap; text-align: center; font-family: math; margin-bottom: 20px; color:  black; font-weight: 50  margin-bottom: 8px;">Evolution de votre corps</h1>
                <div>
                  <ion-row>
                    <ion-col size="4">
                      <div class="card">
                        <img  src="../../assets/icon/symptom.png">
                         <h5>symptome</h5>
                      </div>
                    </ion-col>


                    <ion-col size="4">
                      <div class="card">
                        <img  src="../../assets/icon/corps.png">
                       <h5 class="Text5">votre corps</h5>
                      </div>
                    </ion-col>
                    
                    
                    <ion-col size="4">
                      <div class="card">
                        <img  src="../../assets/icon/mager.png">
                        <h5>Nutrition</h5>
                      </div>
                    </ion-col>
                  </ion-row>
                      

                     

                    
                </div>
              </div>

            <p class="two" style="padding: 7px; font-weight: 100;">
              {{selectedArticle?.envent}}.
            </p>



          </div>
        </div>
    </div>
  </div>
</div>